<div class="jumbotron center">
	<h1>How To Rap</h1>
	<h2>Welcome to the Streamline!</h2>
	<p>
		<%= link_to "Log in", "#", class: "btn btn-default btn-lg"%>
		<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg"%>
	</p>
</div>